<h1>{{ isEdit ? 'Edit Job Note' : 'Add New Job Note' }}</h1>

<div class="card">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <label for="job" class="full-label">Job:</label>
    <select id="job" class="full-input" formControlName="job">
      <option value="">Select a job</option>
      <option *ngFor="let v of jobs" [value]="v.jobName">
      {{ v.jobName }}
      </option>
    </select>

    <label for="status" class="full-label">Status:</label>
    <input id="status" class="full-input" formControlName="status" type="text" />
    <div class="error" *ngIf="form.get('status')?.invalid && form.get('status')?.touched">
      Required
    </div>

    <label for="message" class="full-label">Message:</label>
    <textarea id="message" class="full-input" formControlName="message" rows="4"></textarea>
    <div class="error" *ngIf="form.get('message')?.invalid && form.get('message')?.touched">
      Required
    </div>

    <label for="active" class="full-label">
      <input id="active" type="checkbox" formControlName="active" />
      Active
    </label>
    
    <div class="form-actions">
      <button type="submit" [disabled]="form.invalid">{{ isEdit ? 'Update' : 'Create' }}</button>
      <button type="button" class="btn-cancel" [routerLink]="['/jobs']">Cancel</button>
    </div>
  </form>
</div>
