<!-- tablet-users-form.component.html -->

<h1>{{ isEdit ? 'Edit Tablet User' : 'Add New Tablet User' }}</h1>

<div class="card">
  <form [formGroup]="form" (ngSubmit)="submit()">

    <label for="resourceId" class="full-label">Resource (Name):</label>
    <select id="resourceId" class="full-input" formControlName="resourceId">
      <option value="">Select a resource</option>
      <option *ngFor="let r of resources" [value]="r.rowId">
        {{ r.fname }} {{ r.lname }}
      </option>
    </select>
    <div class="error" *ngIf="form.get('resourceId')?.invalid && form.get('resourceId')?.touched">
      Required
    </div>

    <label for="pin" class="full-label">PIN:</label>
    <input id="pin" class="full-input" formControlName="pin" type="text" />

    <div class="error" *ngIf="form.get('pin')?.invalid && form.get('pin')?.touched">
      Required
    </div>

    <div class="form-actions">
      <td><button type="submit" [disabled]="form.invalid">{{ isEdit ? 'Update' : 'Create' }}</button></td>
      <td><button type="button" class="btn-cancel"[routerLink]="['/tablet-users']">Cancel</button></td>
    </div>
  </form>
</div>