<!-- admin-form.html -->

<h1>{{ isEdit ? 'Edit User' : 'Add New User' }}</h1>

<div class="card">
  <form [formGroup]="form" (ngSubmit)="submit()">

    <label for="username" class="full-label">Username:</label>
    <input id="username" class="full-input" formControlName="username" type="text" />
    <!-- Validation message for customer name -->
    <div class="error" *ngIf="form.get('username')?.invalid && form.get('username')?.touched">
      Required
    </div>

    <label for="firstName" class="full-label">First Name:</label>
    <input id="firstName" class="full-input" formControlName="firstName" type="text" />

    <label for="lastName" class="full-label">Last Name:</label>
    <input id="lastName" class="full-input" formControlName="lastName" type="text" />


    <label for="email" class="full-label">Email:</label>
    <input id="email" class="full-input" formControlName="email" type="email" />
    <!-- Validation message for email -->
    <div class="error" *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
      Valid email required
    </div>

    <label for="password" class="full-label">Password:</label>
    <input id="password" class="full-input" formControlName="password" type="password" />
    <!-- Validation message for password -->
    <div class="error" *ngIf="form.get('password')?.invalid && form.get('password')?.touched">
      {{ isEdit ? 'Password is optional' : 'Password required' }}
    </div>

    <label for="role" class="full-label">Role:</label>
    <select id="role" class="full-input" formControlName="role">
      <option value="" disabled selected>Select a role</option>
      <option value="User">User</option>
      <option value="Manager">Manager</option>
      <option value="Admin">Admin</option>
    </select>
    <!-- Validation message for role -->
    <div class="error" *ngIf="form.get('role')?.invalid && form.get('role')?.touched">
      Required
    </div>

    <label for="active">Active:</label>
    <input id="active" type="checkbox" formControlName="active" />

<div class="form-actions">
  <td><button type="submit" [disabled]="form.invalid">{{ 'Save' }}</button></td>
  <td><button type="button" class="btn-cancel"[routerLink]="['/admin']">Cancel</button></td>
</div>
  </form>
</div>