<h1> Edit Profile </h1>

<div class="card">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <label for="username" class="full-label">Username:</label>
    <input id="username" class="full-input" formControlName="username" type="text" />
    <!-- Validation message for username -->
    <div class="error" *ngIf="form.get('username')?.invalid && form.get('username')?.touched">
      Required
    </div>

    <label for="firstName" class="full-label">First Name:</label>
    <input id="firstName" class="full-input" formControlName="firstName" type="text" />
    <!-- Validation message for first name -->
    <div class="error" *ngIf="form.get('firstName')?.invalid && form.get('firstName')?.touched">
      Required
    </div>

    <label for="lastName" class="full-label">Last Name:</label>
    <input id="lastName" class="full-input" formControlName="lastName" type="text" />
    <!-- Validation message for last name -->
    <div class="error" *ngIf="form.get('lastName')?.invalid && form.get('lastName')?.touched">
      Required
    </div>

    <label for="email" class="full-label">Email:</label>
    <input id="email" class="full-input" formControlName="email" type="email" />
    <!-- Validation message for email -->
    <div class="error" *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
      Valid email required
    </div>

    <label for="password" class="full-label">Password:</label>
    <input id="password" class="full-input" formControlName="password" type="password" />
    <!-- Validation message for password -->
    <div class="error" *ngIf="form.get('password')?.invalid && form.get('password')?.touched">
      {{ 'Password must be at least 6 characters' }}
    </div>

    <div class="form-actions">
      <td><button type="submit" [disabled]="form.invalid">{{ 'Save Profile' }}</button></td>
      <td><button type="button" class="btn-cancel"[routerLink]="['/profile']">Cancel</button></td>
    </div>
  </form>
</div>