<h1>{{ isEdit ? 'Edit Service Type' : 'Add New Service Type' }}</h1>

<div class="card">
  <form [formGroup]="form" (ngSubmit)="submit()">

    <label for="customer" class="full-label">Customer:</label>
    <select id="customer" class="full-input" formControlName="customer">
      <option value="">Select a customer</option>
      <option *ngFor="let cust of customers" [value]="cust.customerName">
      {{ cust.customerName }}
      </option>
    </select>
    <!-- Validation message for customer -->
    <div class="error" *ngIf="form.get('customer')?.invalid && form.get('customer')?.touched">
      Required
    </div>

    <label for="serviceType" class="full-label">Service Type:</label>
    <input id="serviceType" type="text" class="full-input" formControlName="serviceType" />
    <!-- Validation message for serviceType -->
    <div class="error" *ngIf="form.get('serviceType')?.invalid && form.get('serviceType')?.touched">
      Required
    </div>

    <div class="form-actions">
      <td><button type="submit" [disabled]="form.invalid">{{ isEdit ? 'Update' : 'Create' }}</button></td>
      <td><button type="button" class="btn-cancel"[routerLink]="['/customers']">Cancel</button></td>
    </div>
    </form>
</div>