<h1>{{ isEdit ? 'Edit Location' : 'Add New Location' }}</h1>

<div class="card">
  <form [formGroup]="form" (ngSubmit)="submit()">

    <label for="customer" class="full-label">Customer:</label>
    <select id="customer" class="full-input" formControlName="customer">
      <option value="">Select a customer</option>
      <option *ngFor="let cust of customers" [value]="cust.customerName">
      {{ cust.customerName }}
      </option>
    </select>

    <div class="error" *ngIf="form.get('customer')?.invalid && form.get('customer')?.touched">
      Required
    </div>
    <label for="storeNumber" class="full-label">Store Number:</label>
    <input id="storeNumber" class="full-input" formControlName="storeNumber" type="text" />

    <div class="error" *ngIf="form.get('storeNumber')?.invalid && form.get('storeNumber')?.touched">
      Required
    </div>

    <fieldset formGroupName="siteAddress" class="fieldset-grid">
      <legend>Site Address</legend>

      <label for="address1">Address 1:</label>
      <input id="address1" formControlName="address1" type="text" />

      <div class="error" *ngIf="form.get('siteAddress.address1')?.invalid && form.get('siteAddress.address1')?.touched">
        Required
      </div>

      <label for="address2">Address 2:</label>
      <input id="address2" formControlName="address2" type="text" />

      <label for="city">City:</label>
      <input id="city" formControlName="city" type="text" />

      <label for="state">State:</label>
      <input id="state" formControlName="state" type="text" />

      <label for="zip">Zip:</label>
      <input id="zip" formControlName="zip" type="text" />

      <label for="county">County:</label>
      <input id="county" formControlName="county" type="text" />

      <label for="country">Country:</label>
      <input id="country" formControlName="country" type="text" />
    </fieldset>

    <fieldset formGroupName="primaryContact" class="fieldset-grid">
      <legend>Primary Contact</legend>

      <label for="contactFirstName">First Name:</label>
      <input id="contactFirstName" formControlName="firstName" type="text" />

      <label for="contactLastName">Last Name:</label>
      <input id="contactLastName" formControlName="lastName" type="text" />

      <label for="contactPhone">Phone:</label>
      <input id="contactPhone" formControlName="phone" type="text" />

      <label for="contactEmail">Email:</label>
      <input id="contactEmail" formControlName="email" type="email" />

    </fieldset>

    <fieldset class="fieldset-grid additional-info">
      <legend>Additional Information</legend>

      <label for="active">Active:</label>
      <input id="active" type="checkbox" formControlName="active" />

      <label for="siteNote" class="full-label">Site Note:</label>
      <textarea id="siteNote" class="full-input" formControlName="siteNote" rows="4"></textarea>
    </fieldset>
    <div class="form-actions">
      <td><button type="submit" [disabled]="form.invalid">{{ isEdit ? 'Update' : 'Create' }}</button></td>
      <td><button type="button" class="btn-cancel"[routerLink]="['/locations']">Cancel</button></td>
    </div>
    </form>
</div>